.sfdiv-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  
.sfdiv-item:not(:last-child){
  text-align: left;
}
  
.sfdiv-item:last-child>:not(.leaflet, .table, .div-copybttns){
  text-align: right;
  margin-left: auto; 
  margin-right: 0;
}

.sfdiv-item:last-child> select{
  direction: rtl;
}

.div-copybttns {
  text-align: left;
}

