.sfdiv-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .sfdiv-item:not(:last-child) {
    text-align: left;
  }
  
  .sfdiv-item:last-child {
    text-align: right;
  }